body{
    background-color: azure;
}
.kotakunyu{
    border-style:10px solid blue;
    border-radius: 5%;
    padding: 10px;
    width: 150px;
    background-color: grey;
}

.border {
    width: 300px;
    height: 200px;
    margin:0 auto;
    background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 30px, transparent 30px, transparent 50px, #83B3DB 50px, #84ADCB 80px, transparent 80px, transparent 100px);
    padding: 12px;
  }
  
  .border .surat {
    background: white;
    width: 100%;
    height: 100%;
  }

  .jajargenjang{
      width: 100px;
      height: 100px;
      background: blue;
  }

  .ocatagon{
      width: 300px;
      height: 300px;
      background: burlywood;
  }