body{
    background-color: azure;
}
.kotakunyu{
    width: 25%;
    height: 10%;
    background: grey;
    padding: 5%;
}
.kotakunyu .dlmnya{
    width: 85%;
    height: 75%;
    border-radius: 10%;
    background: burlywood;
    padding: 7%;
}

.border {
    width: 300px;
    height: 200px;
    margin:0 auto;
    background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 30px, transparent 30px, transparent 50px, #83B3DB 50px, #84ADCB 80px, transparent 80px, transparent 100px);
    padding: 12px;
  }
  
  .border .surat {
    background: white;
    width: 100%;
    height: 100%;
  }

  .jajargenjang{
      width: 100px;
      height: 100px;
      background: blue;
  }

  .octagon{
      width: 300px;
      height: 300px;
      background: burlywood;
  }
  .diagram{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: red;
  }